.btn {
    height: 45px;
    background: $main-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 12px 25px;
    transition: all 0.4s;
    &:hover {
        color: #000;
        text-decoration: none;
        transform: scale(1.1);
    }
}