.price {
    padding-top: 66px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        padding: 0 60px;
        grid-template-columns: repeat(2, minmax(365px, auto));
        grid-template-rows: repeat(3, minmax(45px, auto));
        grid-auto-rows: minmax(45px, auto);
        justify-content: space-between;
        align-content: space-between;
        row-gap: 15px;
    }
    &__item {
        position: relative;
        display: grid;
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        justify-content: space-between;
        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background: $main-color;
            border-radius: 100%;
            top: 5px;
        }
    }
    &__text {
        grid-column: 1 / 3;
        font-size: 12px;
        line-height: 18px;
    }
    &__type {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
    }
    &__counter {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        color: #000000;
        justify-self: end;
    }
}
