.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg_mine.jpg') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 250px;
    }
    &__link {
        color: #000;
        font-weight: bold;
        transition: all 0.4s;
        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }
}

