.resume {
    margin-top: 120px;
    &__wrapper {
        display: grid;
        padding: 60px 65px 0 65px;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                border-radius: 100%;
                background: $main-color;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: calc(100% + 16px);
                    position: absolute;
                    top: -16px;
                    left: 0;
                    background-color: #000;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            content: '';
            height: 1px;
            width: 45px;
            position: absolute;
            top: 64px;
            background-color: #000;
        }
        &-head {
            position: relative;
            padding: 45px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
        &-icon {
            position: absolute;
            top: 45px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute;
                left: 14px;
                top: 18px;
            }
        }
        &-location {
            margin-top: 2px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
    }
}