.skills {
    padding-top: 120px;
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, minmax(270px, auto));
        grid-template-rows: repeat(2, minmax(270px, auto));
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item {
        padding: 35px 29px 25px 30px;
        border: 1px solid #000000;
        &-title {
            margin-top: 20px;
            font-weight: bold;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-text {
            margin-top: 15px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #000000;
        }
        &-jquery {
            margin-top: 15px;
        }
        &-title_jquery {
            margin-top: 33px;
        }
        &-mongo {
            margin-top: 4px;
        }
        &-title_mongo {
            margin-top: 32px;
        }
    }
    &__ratings {
        padding-top: 120px;
        display: grid;
        grid-template-columns: repeat(3, minmax(350px, auto));
        grid-template-rows: repeat(2, minmax(70px, auto));
        grid-auto-rows: minmax(70px, auto);
        column-gap: 45px;
        row-gap: 35px;
        &-item {
            display: grid;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
        }
        &-title {
            position: relative;
            padding: 2px 0 0 14px;
            @include before_circle;
            &:before {
                content: '';
                top: -7px;
            }
        }
        &-counter {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
        &-line {
            width: 350px;
            height: 14px;
            background: #E8E4DE;
            border-radius: 4px;
            grid-column: 1/3;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
    }
}